<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>控制台登录</title>
</head>
<body>
<div id="app">
    <div class="container">
        <h1>登录</h1>
        <form action="/ame/admin/login" method="post">
            <label><b>用户名</b></label>
            <input type="text" placeholder="输入用户名" name="username" required>
            <label><b>密码</b></label>
            <input type="password" placeholder="输入密码" name="passwd" required>
            <button type="submit">登录</button>
        </form>
    </div>
</div>
</body>
</html>