<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>动画管理</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

    <style>
        body {
            margin: 0;
            font-family: Arial, sans-serif;
        }
        .sidebar {
            width: 200px;
            height: 100%;
            background-color: #f8f9fa;
            position: fixed;
            padding: 20px;
            box-sizing: border-box;
        }
        .content {
            margin-left: 200px;
            padding: 20px;
        }
    </style>
    <style>
        .floating-component {
            position: fixed;
            top: 10%;
            right: 30%;
            background-color: #f9f9f9;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            z-index: 100;
        }
    </style>
</head>
<body>
    <div class="sidebar">
        <h3>侧边栏标题</h3>
        <ul>
            <li><a href="/ame/view/sys/animeMG">动画管理</a></li>
            <li><a href="/ame/view/sys/userMG">用户管理</a></li>
            <li><a href="/ame/view/sys/ratingMG">评论管理</a></li>
        </ul>
    </div>
    <div class="content">
        <h1>主要内容</h1>
        <p>这里是页面的主要内容。</p>
        <div id="app">
            <div class="root">
                <anime-table></anime-table>
            </div>
        </div>

        <template id="table">
            <div class="inner">
                <p><input type="text" v-model="keyword" placeholder="输入关键字进行搜索"><button @click="test">搜索</button></p>
                <p><button @click="insert">添加动画</button></p>
                <el-table
                        :data="animeList"
                        style="width: 100%">
                    <el-table-column
                            prop="animeId"
                            label="动画ID"
                            width="180">
                    </el-table-column>
                    <el-table-column
                            prop="title"
                            label="动画名称"
                            width="180">
                    </el-table-column>
                    <el-table-column
                            prop="genre"
                            label="动画分类">
                    </el-table-column>
                    <el-table-column
                            prop="type"
                            label="媒体形式">
                    </el-table-column>
                    <el-table-column
                            prop="episodes"
                            label="动画集数">
                    </el-table-column>
                    <el-table-column
                            prop="rating"
                            label="动画均分">
                    </el-table-column>
                    <el-table-column label="操作">
                        <template slot-scope="scope">
                            <el-button
                                    size="mini"
                                    @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
                            <el-button
                                    size="mini"
                                    type="danger"
                                    @click="handleDelete(scope.$index, scope.row)">删除</el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <el-dialog title="编辑动画" :visible.sync="dialogFormVisible">
                    <el-form :model="anime">
                        <el-form-item label="动画ID" :label-width="formLabelWidth">
                            <el-input readonly v-model="anime.animeId" autocomplete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="动画名称" :label-width="formLabelWidth">
                            <el-input v-model="anime.title" autocomplete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="动画分类" :label-width="formLabelWidth">
                            <el-input v-model="anime.genre" autocomplete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="媒体形式" :label-width="formLabelWidth">
                            <el-input v-model="anime.type" autocomplete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="动画集数" :label-width="formLabelWidth">
                            <el-input v-model="anime.episodes" autocomplete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="动画均分" :label-width="formLabelWidth">
                            <el-input v-model="anime.rating" autocomplete="off"></el-input>
                        </el-form-item>
                    </el-form>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisible = false">取 消</el-button>
                        <el-button type="primary" @click="submit">提交</el-button>
                    </div>
                </el-dialog>
                <div class="floating-component">
                    <button @click="ppage">上一页</button>&nbsp{{page}}&nbsp<button @click="npage">下一页</button>
                </div>
            </div>
        </template>
    </div>
</body>
<script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.13/vue.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/axios/1.7.2/axios.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>

    let tb = Vue.component("animeTable",{
        template:document.getElementById("table"),
        data() {
            return {
                animeList:[],
                page:1,
                keyword:'',
                dialogFormVisible: false,
                anime:{},
                formLabelWidth: '120px'
            }
        },
        mounted(){
            this.getAnimeList()
        },
        methods:{
            ppage(){
                if(this.page==1){
                    alert("已是第一页")
                }else {
                    this.page-=1
                    let _ = this
                    axios.get("/ame/animes/",{
                        params: {
                            page:_.page
                        }
                    }).then(resp=>{
                        _.animeList = resp.data
                        console.log(resp.data)
                    })
                }
            },
            npage(){
                this.page+=1
                let _ = this
                axios.get("/ame/animes/",{
                    params: {
                        page:_.page
                    }
                }).then(resp=>{
                    _.animeList = resp.data
                    console.log(resp.data)
                })
            },
            getAnimeList(){
                let _ = this
                axios.get("/ame/animes/",{
                    params: {
                        page:_.page
                    }
                }).then(resp=>{
                    _.animeList = resp.data
                    console.log(resp.data)
                })
            },
            test(){
                if(this.keyword==''){
                    alert("请输入关键词")
                }else{
                    let _ = this
                    axios.get("/ame/animes/search",{
                        params: {
                            keyword:_.keyword
                        }
                    }).then(resp=>{
                        _.animeList = resp.data
                    })
                }
            },
            handleEdit(index, row){
                this.anime = row
                this.dialogFormVisible = true
            },
            submit(){
                let _ = this
                axios.post("/ame/anime/update",_.anime).then(resp=>{
                    alert(resp.data)
                })
            },
            handleDelete(index, row,event){
                let _ = this
                this.anime = row
                let judgement = window.confirm("确定要删除这部动画吗？")
                if(judgement){
                    if(window.confirm("确定要删除这部动画吗？将无法复原")){
                        axios.post("/ame/anime/delete",_.anime).then(resp=>{
                            alert(resp.data)
                        })
                    }
                }
            },
            insert(){
                this.dialogFormVisible = true
            }
        }
    })


    let vm = new Vue({
        el:"#app",
        component:tb
    })
</script>
</html>